{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<!-- SCRIPTS PARA A FORMA 1 -->
	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script src="/static/assets/js/datapicker.js"></script> -->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<!-- <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css"> -->

	<style>
		#datainicial{
			opacity: 1 !important;
			background-color: #272442 !important;
			border: #272442;
			font-size: 1em;
		}
	</style>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Usina São José da Estiva</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'tarefas' %}">{{ title }}</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">{{ title }}</h4>
								<button class="btn btn-icon btn-success btn-round ml-auto" id="abrirModal" data-toggle="modal" data-target="#pop_form">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatables" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Nome</th>
											<th>Ações</th>
										</tr>
									</thead>
									<tbody>
										{% for item in list %}
											<tr>
												<td>Tarefa 1</td>
												<td style="text-align: center; width: 10%;">
													<button type="button" class="btn btn-icon btn-round btn-info">
														<i class="fas fa-pen"></i>
													</button>
													<button type="button" class="btn btn-icon btn-round btn-danger">
														<i class="fas fa-times"></i>
													</button>
												</td>
											</tr>
											<tr>
												<td>Tarefa 2</td>
												<td style="text-align: center; width: 10%;">
													<button type="button" class="btn btn-icon btn-round btn-info">
														<i class="fas fa-pen"></i>
													</button>
													<button type="button" class="btn btn-icon btn-round btn-danger">
														<i class="fas fa-times"></i>
													</button>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'tarefas/form.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
				"pageLength": 5,
			});
		});
	</script>
	<script>
		flatpickr("#datainicial", {
			enableTime: true,
			dateFormat: "d/m/Y - H:i",
			defaultDate: "01/01/2000",
			defaultHour: 00,
			defaultMinute: 00,
		});
	</script>
{% endblock javascripts %}
