<div class="modal fade" id="pop_form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-dark2">
            <div class="modal-header no-bd">
                <h2 class="modal-title">
                    <span class="fw-mediumbold">
                    Nova</span> 
                    <span class="fw-light">
                        Unidade
                    </span>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Tamanho Menor -->
                <form>
                    <div class="row">
                        <div class="col-md-8 pr-0">
                            <div class="form-group form-group-default">
                                <label>Nome da unidade</label>
                                <input id="nome" type="text" class="form-control" placeholder="Insira o nome">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>CNPJ</label>
                                <input id="cnpj" type="text" class="form-control" placeholder="Insira o cnpj">
                            </div>
                        </div>

                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>CEP</label>
                                <input id="cep" type="text" class="form-control" placeholder="Insira o cep">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-group-default">
                                <label>Endereço</label>
                                <input id="endereco" type="text" class="form-control" placeholder="Insira o endereço">
                            </div>
                        </div>

                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>Complemento</label>
                                <input id="complemento" type="text" class="form-control" placeholder="Insira o complemento">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-group-default">
                                <label>Bairro</label>
                                <input id="bairro" type="text" class="form-control" placeholder="Insira o bairro">
                            </div>
                        </div>

                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>Estado</label>
                                <select class="form-control" id="unidade">
                                    <option>AC</option>
                                    <option>AL</option>
                                    <option>AP</option>
                                    <option>Ap</option>
                                    <option>AM</option>
                                    <option>BA</option>
                                    <option>CE</option>
                                    <option>DF</option>
                                    <option>ES</option>
                                    <option>GO</option>
                                    <option>MA</option>
                                    <option>MT</option>
                                    <option>MS</option>
                                    <option>MG</option>
                                    <option>PA</option>
                                    <option>PB</option>
                                    <option>PR</option>
                                    <option>PE</option>
                                    <option>PI</option>
                                    <option>RJ</option>
                                    <option>RN</option>
                                    <option>RS</option>
                                    <option>RO</option>
                                    <option>RR</option>
                                    <option>SC</option>
                                    <option>SP</option>
                                    <option>SE</option>
                                    <option>TO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-group-default">
                                <label>Cidade</label>
                                <select class="form-control" id="unidade">
                                    <option>São Paulo</option>
                                    <option>Guarulhos</option>
                                    <option>Campinas</option>
                                    <option>São Bernardo do Campo</option>
                                    <option>São José dos Campos</option>
                                    <option>Santo André</option>
                                    <option>Ribeirão Preto</option>
                                    <option>Osasco</option>
                                    <option>Sorocaba</option>
                                    <option>Mauá</option>
                                    <option>São José do Rio Preto</option>
                                    <option>Mogi das Cruzes</option>
                                    <option>Santos</option>
                                    <option>Diadema</option>
                                    <option>Jundiaí</option>
                                    <option>Piracicaba</option>
                                    <option>Carapicuíba</option>
                                    <option>Bauru</option>
                                    <option>Itaquaquecetuba</option>
                                    <option>São Vicente</option>
                                    <option>Franca</option>
                                    <option>Praia Grande</option>
                                    <option>Guarujá</option>
                                    <option>Taubaté</option>
                                    <option>Limeira</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 pr-0">
                            <div class="form-group form-group-default">
                                <label>Fone</label>
                                <input id="fone" type="text" class="form-control" placeholder="Insira o fone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Fax</label>
                                <input id="fax" type="text" class="form-control" placeholder="Insira o fax">
                            </div>
                        </div>

                        <div class="col-md-6 pr-0">
                            <div class="form-group form-group-default">
                                <label>Email</label>
                                <input id="email" type="email" class="form-control" placeholder="Insira o email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Home Page</label>
                                <input id="home" type="text" class="form-control" placeholder="Insira a home page">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label>Imagem de perfil</label>
                                <input id="imagem" type="file" class="form-control" placeholder="Insira a imagem de perfil">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" id="criar" class="btn btn-success">Criar</button>
            </div>
        </div>
    </div>
</div>