
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<div class="row">
							<ul class="nav align-items-left">
								<li class="nav-item">
									<a class="nav-link" 
									   target="_blank" 
									   href="http://www.atmaautomacao.com.br/">
										Atma Automacao - Global Report
									</a>
								</li>
							</ul>
						</div>
					</nav>
					<div class="copyright ml-auto">
                        Global Report - Copyright &copy; 2014
                        | <a target="_blank" href="http://www.atmaautomacao.com.br/">Atma Automacao</a> - Todos os direitos Reservados
					</div>				
				</div>
            </footer>
            