{% extends "layouts/base.html" %}

{% block title %} Gráfico de Tendências {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<!-- SCRIPTS PARA A FORMA 1 -->
	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script src="/static/assets/js/datapicker.js"></script> -->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<!-- <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css"> -->

	<style>
		#datainicial{
			opacity: 1 !important;
			background-color: #272442 !important;
			border: #272442;
			font-size: 1em;
		}
		#datafinal{
			opacity: 1 !important;
			background-color: #272442 !important;
			border: #272442;
			font-size: 1em;
		}
		.quick-actions-item.active{
			background-color: #272442;
		}
		.quick-actions-item.active i{
			color: #ffffff;
		}
		.quick-actions-item.active span{
			color: #ffffff;
		}
		.quick-actions-item.active:hover{
			background-color: #272442;
		}
		.quick-actions-item.active i:hover{
			color: #ffffff;
		}
		.quick-actions-item.active span:hover{
			color: #ffffff;
		}
	</style>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'monitoramento_kpis' %}">Gráfico de Tendências</a>
					</li>
				</ul>
			</div>
			<h4 class="page-title">Gráfico de Tendências</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<nav class="navbar navbar-header navbar-expand-lg">
										<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
											<li class="nav-item dropdown hidden-caret">
												<button type="button" class="btn btn-icon btn-round btn-default" data-toggle="dropdown" aria-expanded="false">
													<i class="fa fa-align-left"></i>
												</button>
												<div class="dropdown-menu keep-open-on-click quick-actions quick-actions-default animated" id="conf_graf">
													<div class="quick-actions-header">
														<span class="title mb-1">Configurações Gráfico</span>
													</div>
													<div class="quick-actions-scroll scrollbar-outer">
														<div class="quick-actions-items">
															<div class="row m-0">
																<a class="col-6 col-md-4 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-equalizer"></i>
																		<span class="text">Régua</span>
																	</div>
																</a>
																<a class="col-6 col-md-4 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-control-forward"></i>
																		<span class="text">Mult. Eixos</span>
																	</div>
																</a>
																<a class="col-6 col-md-4 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-target"></i>
																		<span class="text">Pontos</span>
																	</div>
																</a>
																<a class="col-6 col-md-4 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-fire"></i>
																		<span class="text">Highlights</span>
																	</div>
																</a>
																<a class="col-6 col-md-4 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-bubble"></i>
																		<span class="text">Tooltips</span>
																	</div>
																</a>
																<a class="col-6 col-md-4 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-cursor-move"></i>
																		<span class="text">Interpolação</span>
																	</div>
																</a>
																<a class="col-6 col-md-6 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-magnifier"></i>
																		<span class="text">Zoom</span>
																	</div>
																</a>
																<a class="col-6 col-md-6 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-refresh"></i>
																		<span class="text">Refresh</span>
																	</div>
																</a>
																<a class="col-6 col-md-6 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-folder-alt"></i>
																		<span class="text">Add Variáveis</span>
																	</div>
																</a>
																<a class="col-6 col-md-6 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-note"></i>
																		<span class="text">Edit Variáveis</span>
																	</div>
																</a>
																<a class="col-6 col-md-12 p-0" href="#" id="item">
																	<div class="quick-actions-item">
																		<i class="icon-control-play"></i>
																		<span class="text">Atualização Automática</span>
																	</div>
																</a>
															</div>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</nav>

								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label>Data Inicial</label>
										<div class="input-group">
											<input type="text" class="form-control text-center" id="datainicial" name="datainicial">
											<div class="input-group-append">
												<span class="input-group-text">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Data Final</label>
										<div class="input-group">
											<input type="text" class="form-control text-center" id="datafinal" name="datafinal">
											<div class="input-group-append">
												<span class="input-group-text">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="defaultSelect">Default Select</label>
										<select class="form-control form-control" id="defaultSelect">
											<option value="Nenhum">Nenhum</option>
											<option value="Minutos">Minutos</option>
											<option value="Hora">Hora</option>
											<option value="Dia">Dia</option>
											<option value="Mês">Mês</option>
											<option value="Ano">Ano</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="defaultSelect">Default Select</label>
										<select class="form-control form-control" id="defaultSelect">
											<option value="Nenhum">Nenhum</option>
											<option value="Média">Média</option>
											<option value="Soma">Soma</option>
											<option value="Mínimo">Mínimo</option>
											<option value="Máximo">Máximo</option>
											<option value="Desvio Padrão">Desvio Padrão</option>
											<option value="Variância">Variância</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="chart-container" style="height: 50vh;">
								<canvas id="multipleLineChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

{% endblock content %}

{% block javascripts %}
	<script>
		$(document).on('click', '.dropdown-menu', function(e) {
			if ($(this).hasClass('keep-open-on-click')) { e.stopPropagation(); }
		});	

		$(document).on('click', '.quick-actions-item', function(e) {
			 if($(this).hasClass('active')){
				$(this).removeClass('active');
			 } else{
				$(this).addClass('active');
			 }
		});	
	</script>
	<script>
		flatpickr("#datainicial", {
			enableTime: true,
			dateFormat: "d/m/Y - H:i",
			defaultDate: "01/01/2000",
			defaultHour: 00,
			defaultMinute: 00,
		});
		// $("#datainicial").attr("readonly", false);

		flatpickr("#datafinal", {
			enableTime: true,
			dateFormat: "d/m/Y - H:i",
			defaultDate: "01/01/2000",
			defaultHour: 00,
			defaultMinute: 00,
		});
	</script>
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		var multipleLineChart = document.getElementById('multipleLineChart').getContext('2d');

		var myMultipleLineChart = new Chart(multipleLineChart, {
			type: 'line',
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Python",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [557, 726, 619, 43, 453, 508, 746, 75, 16, 213, 846, 422]
				},{
					label: "PHP",
					borderColor: "#59d05d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#59d05d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [314, 791, 598, 35, 99, 178, 811 ,111 , 893, 377, 207, 836]
				}, {
					label: "Ruby",
					borderColor: "#f3545d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#f3545d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [92, 277, 934 , 235, 280, 679, 572, 97, 923, 651, 696 ,144]
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'top',
					labels: {
						fontColor: 'white' //set your desired color
					}
					
				},
				scales: {
					yAxes: [{
						ticks: {
							fontColor: "white",
							fontSize: 15,
						}
					}],
					xAxes: [{
						ticks: {
							fontColor: "white",
							fontSize: 15,
						}
					}]
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});
	</script>

{% endblock javascripts %}
