{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Usina São José da Estiva</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'driver_opc' %}">{{ title }}</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">{{ title }}</h4>
								<button class="btn btn-icon btn-success btn-round ml-auto" id="abrirModal" data-toggle="modal" data-target="#pop_form">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatables" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Driver</th>
											<th>Estação servidora</th>
											<th>Servidor OPC</th>
											<th>Ações</th>
										</tr>
									</thead>
									<tbody>
										{% for item in list %}
											<tr>
												<td>Coletor 1</td>
												<td>172.168.100.2</td>
												<td>OPCServer.WinCC_SCADA/{3c4f7ee7-ebb7-4bd1-a1ca-1b0d74268e0f}</td>
												<td style="text-align: center; width: 10%;">
													<button type="button" class="btn btn-icon btn-round btn-info">
														<i class="fas fa-pen"></i>
													</button>
													<button type="button" class="btn btn-icon btn-round btn-danger">
														<i class="fas fa-times"></i>
													</button>
												</td>
											</tr>
											<tr>
												<td>Coletor 2</td>
												<td>172.168.100.2</td>
												<td>OPCServer.WinCC_SCADA/{3c4f7ee7-ebb7-4bd1-a1ca-1b0d74268e0f}</td>
												<td style="text-align: center; width: 10%;">
													<button type="button" class="btn btn-icon btn-round btn-info">
														<i class="fas fa-pen"></i>
													</button>
													<button type="button" class="btn btn-icon btn-round btn-danger">
														<i class="fas fa-times"></i>
													</button>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'driver_opc/form.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
				"pageLength": 5,
			});
		});
	</script>
	<script>
		flatpickr("#datafinal", {
			enableTime: true,
			dateFormat: "d/m/Y - H:i",
			defaultDate: "01/01/2000",
			defaultHour: 00,
			defaultMinute: 00,
		});
	</script>
{% endblock javascripts %}
