<div class="modal fade" id="pop_form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-dark2">
            <div class="modal-header no-bd">
                <h2 class="modal-title">
                    <span class="fw-mediumbold">
                    Nova</span> 
                    <span class="fw-light">
                        Tag Analógica
                    </span>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Tamanho Menor -->
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label>Tagname</label>
                                <input id="tagname" type="text" class="form-control" placeholder="Insira a tag">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label>Descrição</label>
                                <input id="descricao" type="text" class="form-control" placeholder="Insira a descrição">
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="form-group form-group-default">
                                <label>Mínimo</label>
                                <input id="minimo" type="number" class="form-control" placeholder="Insira o mínimo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Máximo</label>
                                <input id="maximo" type="number" class="form-control" placeholder="Insira o máximo">
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="form-group form-group-default">
                                <label>Valor de Projeto</label>
                                <input id="valor" type="number" class="form-control" placeholder="Insira o valor de projeto">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Unidade Engenharia</label>
                                <select class="form-control" id="unidade">
                                    <option>K</option>
                                    <option>°C</option>
                                    <option>°F</option>
                                    <option>°R</option>
                                    <option>rad</option>
                                    <option>°</option>
                                    <option>'</option>
                                    <option>''</option>
                                    <option>gon</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label>Driver de Conexão</label>
                                <select class="form-control" id="driver">
                                    <option>Manual</option>
                                    <option>Driver 1</option>
                                    <option>Driver 2</option>
                                    <option>Driver 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" id="criar" class="btn btn-success">Criar</button>
            </div>
        </div>
    </div>
</div>