{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Usina São José da Estiva</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'variaveis_estaticas' %}">{{ title }}</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">{{ title }}</h4>
								<button class="btn btn-icon btn-success btn-round ml-auto" data-toggle="modal" data-target="#pop_form">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatables" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Tagname</th>
											<th>Descrição</th>
											<th>Valor</th>
											<th>Timestamp</th>
											<th>Unidade</th>
											<th>Ações</th>
										</tr>
									</thead>
									<tbody>
										{% for item in list %}
											<tr>
												<td>SIG_SCT_D</td>
												<td>Açucar - Produção - Total dia - Sacos 50kg</td>
												<td>29352,00</td>
												<td>11/9/2022, 11:00:03 AM</td>
												<td>s</td>
												<td style="text-align: center; width: 10%;">
													<button type="button" class="btn btn-icon btn-round btn-info">
														<i class="fas fa-pen"></i>
													</button>
													<button type="button" class="btn btn-icon btn-round btn-danger">
														<i class="fas fa-times"></i>
													</button>
												</td>
											</tr>
											<tr>
												<td>SIG_EDR6_D</td>
												<td>Extração Reduzida 6° Terno - Noel Dear - Total Dia</td>
												<td>96,7099</td>
												<td>16/11/2022 -09:59</td>
												<td>%</td>
												<td style="text-align: center; width: 10%;">
													<button type="button" class="btn btn-icon btn-round btn-info">
														<i class="fas fa-pen"></i>
													</button>
													<button type="button" class="btn btn-icon btn-round btn-danger">
														<i class="fas fa-times"></i>
													</button>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'variaveis_estaticas/form.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
				"pageLength": 5,
			});


			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#criar').click(function() {
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
