<div class="modal fade" id="pop_selecao_variavel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="z-index: 1600;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-dark2">
            <div class="modal-header no-bd">
                <h2 class="modal-title">
                    <span class="fw-mediumbold">
                    Adicionar</span> 
                    <span class="fw-light">
                        Variável
                    </span>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="card bg-dark">
                        <div class="card-header">
                            <div class="row mt-2">
								<div class="col-md-6">
									<div class="form-group">
                                        <label>Selecione o coletor</label>
                                        <select class="form-control" id="unidade" style="width: 100%; background-color: #4F4785;">
                                            <option></option>
                                            <option>Coletor 1</option>
                                            <option>Coletor 2</option>
                                            <option>Coletor 3</option>
                                        </select>
                                    </div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
                                        <label>Selecione a unidade</label>
                                        <select class="form-control" id="unidade" style="width: 100%; background-color: #4F4785;">
                                            <option></option>
                                            <option>Unidade 1</option>
                                            <option>Unidade 2</option>
                                            <option>Unidade 3</option>
                                        </select>
                                    </div>
								</div>
							</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive search100">
                                <table id="selecao_variavel" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Variável</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nivel Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-success"><span class="visible">A</span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fluxo Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-success"><span class="visible">A</span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nivel Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pressão Tanque Teste Fábrica</td>
                                            <td style="text-align: center; width: 10%;">
                                                <button type="button" class="btn btn-icon btn-round btn-danger"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-bd">
                <div class="row w-100">
                    <div class="col-md-12">
                        <div class="float-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="criar" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>