@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf"); }
  @font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/poppins/Poppins-Medium.ttf"); }
  @font-face {
    font-family: "Muli-Bold";
    src: url("../fonts/muli/Muli-Bold.ttf"); }
  
  ul {
    list-style: none; }
  
  
  .wizard > .steps .current-info, .wizard > .steps .number {
    display: none; }
  
  #wizard {
    min-height: 834px;
    background: #fff;
    margin-right: 60px;
    padding: 107px 75px 65px; }
  
  .steps {
    margin-bottom: 30px; }
    .steps ul {
      display: flex;
      position: relative; }
      .steps ul li {
        width: 20.16%;
        margin-right: 10px; }
        .steps ul li a {
          display: inline-block;
          width: 100%;
          height: 7px;
          background: #e6e6e6;
          border-radius: 3.5px; }
        .steps ul li.first a, .steps ul li.checked a {
          background: red;
          transition: all 0.5s ease; }
      .steps ul:before {
        content: "Billing Details";
        font-size: 22px;
        font-family: "Poppins-SemiBold";
        color: #333;
        top: -38px;
        position: absolute; }
      .steps ul.step-2:before {
        content: "Additional Information"; }

  
  .actions ul {
    display: flex;
    margin-top: 30px;
    justify-content: space-between; }
    .actions ul.step-last {
      justify-content: flex-end; }
      .actions ul.step-last li:first-child {
        display: none; }
  .actions li a {
    padding: 0;
    border: none;
    display: inline-flex;
    height: 51px;
    width: 135px;
    align-items: center;
    background: #f3d4b7;
    cursor: pointer;
    position: relative;
    padding-left: 41px;
    color: #333;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-weight: 400; }
    .actions li a:before {
      content: '\f2ee';
      position: absolute;
      top: 19px;
      right: 41px;
      font-family: Material-Design-Iconic-Font;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
    .actions li a:hover {
      background: #d9bda3; }
      .actions li a:hover:before {
        -webkit-animation-name: hvr-icon-wobble-horizontal;
        animation-name: hvr-icon-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1; }
  .actions li[aria-disabled="true"] a {
    display: none; }
  .actions li:first-child a {
    background: #e6e6e6;
    padding-left: 48px; }
    .actions li:first-child a:before {
      content: '\f2ea';
      left: 26px; }
    .actions li:first-child a:hover {
      background: #ccc; }
  .actions li:last-child a {
    padding-left: 29px;
    width: 167px;
    font-weight: 400; }
    .actions li:last-child a:before {
      right: 30px; }

  
    #wizard {
      margin-right: 40px;
      min-height: 829px;
      padding-left: 60px;
      padding-right: 60px; }
  
  /*# sourceMappingURL=style.css.map */
  